---
layout: home
title: Caitlin & Lachlan
subtitle: The Wedding of
permalink: "/"
---

<div class="index-buttons">
  {% if site.navbar-links['Order of Service'] %}
  <a href="/order-of-service" class="button nav-link">
        <div class="bottom"></div>
        <div class="top">
        <div class="label">Order of Service</div>
          <div class="button-border button-border-left"></div>
          <div class="button-border button-border-top"></div>
          <div class="button-border button-border-right"></div>
          <div class="button-border button-border-bottom"></div>
      </div>
      </a>    
      {% endif %}
  {% if site.navbar-links.Invitation %}
  <a id="invitation-button" href="/invitation" class="button nav-link">
    <div class="bottom"></div>
    <div class="top">
    <div class="label">Ceremony Invitation</div>
      <div class="button-border button-border-left"></div>
      <div class="button-border button-border-top"></div>
      <div class="button-border button-border-right"></div>
      <div class="button-border button-border-bottom"></div>
  </div>
  </a>
  {% endif %}
  <a href="/livestream" class="button nav-link">
    <div class="bottom"></div>
    <div class="top">
    <div class="label">Livestream</div>
      <div class="button-border button-border-left"></div>
      <div class="button-border button-border-top"></div>
      <div class="button-border button-border-right"></div>
      <div class="button-border button-border-bottom"></div>
  </div>
  </a>
  <a href="https://thankfulregistry.com/macwedding" class="button nav-link" target="_blank">
    <div class="bottom"></div>
    <div class="top">
    <div class="label">Gift Registry</div>
      <div class="button-border button-border-left"></div>
      <div class="button-border button-border-top"></div>
      <div class="button-border button-border-right"></div>
      <div class="button-border button-border-bottom"></div>
  </div>
  </a>
  <a href="https://photos.app.goo.gl/bhjgBi4UiCBj6BBq7" class="button nav-link" target="_blank">
    <div class="bottom"></div>
    <div class="top">
    <div class="label">Shared Photo Album</div>
      <div class="button-border button-border-left"></div>
      <div class="button-border button-border-top"></div>
      <div class="button-border button-border-right"></div>
      <div class="button-border button-border-bottom"></div>
  </div>
  </a>
</div>

<hr>

<!-- <div class="text-center"><img src="/assets/img/Goose.png "></img></div> -->

