---
layout: invitation-page
---

<div class="invitation-div">
<a download="Caitlin-and-Lachlan-Reception-Invitation.png" href="{{ '/assets/img/reception.png' | absolute_url }}" title="Reception-Invitation">
  <img src="{{ '/assets/img/reception.png' | absolute_url }}"/>
</a>
</div>

<br>
<a href="https://macwedding.com/rsvp" class="button nav-link">
  <div class="bottom"></div>
  <div class="top">
  <div class="label">RSVP</div>
    <div class="button-border button-border-left"></div>
    <div class="button-border button-border-top"></div>
    <div class="button-border button-border-right"></div>
    <div class="button-border button-border-bottom"></div>
</div>
</a>

